html, body {
    height: 100%;
    width: 100%;
}

#tabs {
    display: block;
}

#tabs > input {
    display: none;
}
#tabs > label {
    position: relative;
    cursor: pointer;
    display: block;
    position: relative;
}

#tabs .tab_button:checked + label {
    border-color: blue;
}

#tabs > label {
    border-style: solid;
    margin: 4px;
    padding: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center
}

#content {
    border-style: solid;
    position: absolute;
    margin: 8px;
    width: 600px;
    background-color: grey;
}
